node_twitter_flow.json
[{"id":"d91b755.bf2f008","type":"mongodb3 in","z":"4c2d7f2a.5d485","service":"_ext_","configNode":"d82635c1.fa7c68","name":"","collection":"","operation":"","x":520,"y":580,"wires":[["196b905f.850048"]]},{"id":"ce1e1b49.6f2b","type":"twitter in","z":"4c2d7f2a.5d485","twitter":"","tags":"","user":"false","name":"","topic":"tweets","inputs":1,"x":1230,"y":140,"wires":[["f0ca9201.90a198"]]},{"id":"f0ca9201.90a198","type":"function","z":"4c2d7f2a.5d485","name":"get data","func":"if(msg.tweet.hasOwnProperty('coordinates')){\n\tif(msg.tweet.coordinates!==null) {\n\t\tmsg.payload={};\n\t\tmsg.payload.lat=msg.tweet.coordinates.coordinates[1];\n\t\tmsg.payload.lon=msg.tweet.coordinates.coordinates[0];\n\t\tmsg.payload.text = msg.tweet.text;\n\t\tmsg.payload.screen_name = msg.tweet.user.screen_name\n\n\t\tmsg.payload.name = msg.tweet.user.screen_name+'-'+msg.tweet.id;\n\t\tmsg.payload.id = msg.tweet.id;\n\t\tmsg.payload.created_at = msg.tweet.created_at;\n\t\t\t\t\t\n\t\tdelete(msg.tweet);\n\t\tdelete(msg.location);\n\t}\n}\n\t\nreturn (msg);","outputs":1,"noerr":0,"x":1320,"y":200,"wires":[["dd13063b.74fec8"]]},{"id":"dd13063b.74fec8","type":"sentiment","z":"4c2d7f2a.5d485","name":"","property":"payload.text","x":1420,"y":140,"wires":[["e9b67fe3.04034"]]},{"id":"e9b67fe3.04034","type":"function","z":"4c2d7f2a.5d485","name":"add icon","func":"if(msg.hasOwnProperty(\"sentiment\")) {\n if(msg.sentiment.hasOwnProperty(\"score\")) {\n if(msg.sentiment.score<0) {\n msg.payload.icon=\"hostile\";\n } else if (msg.sentiment.score>1) {\n msg.payload.icon=\"friend\";\n } else {\n msg.payload.icon=\"neutral\";\n }\n msg.payload.sentiment = msg.sentiment.score;\n return msg;\n }\n}\n// silently drop otherwise","outputs":1,"noerr":0,"x":1500,"y":200,"wires":[["246dd3a9.3d4cd4","99be9087.82264"]]},{"id":"cd968b36.6cc5d8","type":"comment","z":"4c2d7f2a.5d485","name":"set search term","info":"","x":1040,"y":160,"wires":[]},{"id":"f419c279.890618","type":"ui_text_input","z":"4c2d7f2a.5d485","name":"for","label":"Search Term","group":"be3d091.5eb43f8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"for","x":1070,"y":200,"wires":[["ce1e1b49.6f2b","71c12b2d.5ad4ac","90932513.37e75","f93fb8b7.9dadf"]]},{"id":"c92e0028.a57b18","type":"mongodb3 in","z":"4c2d7f2a.5d485","service":"_ext_","configNode":"d82635c1.fa7c68","name":"","collection":"","operation":"","x":1827.5,"y":61,"wires":[[]]},{"id":"99be9087.82264","type":"function","z":"4c2d7f2a.5d485","name":"prep insert","func":"var new_msg = {\n 'collection' : 'tweets',\n 'operation' : 'insert',\n 'payload' : msg.payload\n};\nnew_msg.payload.search_term = flow.get('search');\n\nreturn new_msg;","outputs":1,"noerr":0,"x":1630,"y":60,"wires":[["c92e0028.a57b18","e9e0db47.3703e"]]},{"id":"246dd3a9.3d4cd4","type":"function","z":"4c2d7f2a.5d485","name":"set layer","func":"msg.payload.layer=\"tweets\";\nreturn msg;","outputs":1,"noerr":0,"x":1680,"y":200,"wires":[["f66b5f21.938648","7a4c1f4f.c60068"]]},{"id":"e9e0db47.3703e","type":"debug","z":"4c2d7f2a.5d485","name":"INSERTING:","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1830,"y":120,"wires":[]},{"id":"f201d68c.2c47d","type":"catch","z":"4c2d7f2a.5d485","name":"ERROR:","scope":["c92e0028.a57b18"],"x":1700,"y":360,"wires":[["6ba1efe6.6bb7e8"]]},{"id":"6ba1efe6.6bb7e8","type":"debug","z":"4c2d7f2a.5d485","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1849,"y":373,"wires":[]},{"id":"7a4c1f4f.c60068","type":"debug","z":"4c2d7f2a.5d485","name":"MAPPING:","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1830,"y":160,"wires":[]},{"id":"71c12b2d.5ad4ac","type":"function","z":"4c2d7f2a.5d485","name":"Store search term","func":"// stashes the search term in the 'flow' object\n// which is shared amongst all the flows\nflow.set('search',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":380,"wires":[[]]},{"id":"90932513.37e75","type":"function","z":"4c2d7f2a.5d485","name":"query existing data","func":"// when a new search term arrives, it queries\n// the database for existing tweets that match\n// this term to re-populate the map\nvar new_msg = {};\nnew_msg.collection = 'tweets';\nnew_msg.operation = 'find.forEach';\nnew_msg.payload = { 'search_term' : msg.payload };\nnew_msg.projection = { 'search_term' : 1 };\nreturn new_msg;","outputs":1,"noerr":0,"x":1270,"y":320,"wires":[["1ad432a.54e144d"]]},{"id":"1ad432a.54e144d","type":"mongodb3 in","z":"4c2d7f2a.5d485","service":"_ext_","configNode":"d82635c1.fa7c68","name":"","collection":"","operation":"","x":1480,"y":320,"wires":[["246dd3a9.3d4cd4"]]},{"id":"f93fb8b7.9dadf","type":"function","z":"4c2d7f2a.5d485","name":"clear the map","func":"// ignores the inbound message and instead \n// generates a payload for the map that contains\n// the \"clear map\" command\nmsg.payload={\n \"command\": {\n \"clear\":\"tweets\"\n }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":260,"wires":[["f66b5f21.938648"]]},{"id":"f66b5f21.938648","type":"worldmap","z":"4c2d7f2a.5d485","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":1870,"y":260,"wires":[]},{"id":"fe6fe146.7ae0f","type":"twitter in","z":"4c2d7f2a.5d485","twitter":"","tags":"","user":"false","name":"","topic":"tweets","inputs":1,"x":270,"y":400,"wires":[["93eb522a.7a0a38"]]},{"id":"93eb522a.7a0a38","type":"function","z":"4c2d7f2a.5d485","name":"get data","func":"if(msg.tweet.hasOwnProperty('coordinates')){\n\tif(msg.tweet.coordinates!==null) {\n\t\tmsg.payload={};\n\t\tmsg.payload.lat=msg.tweet.coordinates.coordinates[1];\n\t\tmsg.payload.lon=msg.tweet.coordinates.coordinates[0];\n\t\tmsg.payload.text = msg.tweet.text;\n\t\tmsg.payload.screen_name = msg.tweet.user.screen_name\n\n\t\tmsg.payload.name = msg.tweet.user.screen_name+'-'+msg.tweet.id;\n\t\tmsg.payload.id = msg.tweet.id;\n\t\tmsg.payload.created_at = msg.tweet.created_at;\n\t\t\t\t\t\n\t\tdelete(msg.tweet);\n\t\tdelete(msg.location);\n\t}\n}\n\t\nreturn (msg);","outputs":1,"noerr":0,"x":360,"y":460,"wires":[["de58565d.23554"]]},{"id":"de58565d.23554","type":"sentiment","z":"4c2d7f2a.5d485","name":"","property":"payload.text","x":460,"y":400,"wires":[["af62e7b1.d0c2e"]]},{"id":"af62e7b1.d0c2e","type":"function","z":"4c2d7f2a.5d485","name":"add icon","func":"if(msg.hasOwnProperty(\"sentiment\")) {\n if(msg.sentiment.hasOwnProperty(\"score\")) {\n if(msg.sentiment.score<0) {\n msg.payload.icon=\"hostile\";\n } else if (msg.sentiment.score>1) {\n msg.payload.icon=\"friend\";\n } else {\n msg.payload.icon=\"neutral\";\n }\n msg.payload.sentiment = msg.sentiment.score;\n return msg;\n }\n}\n// silently drop otherwise","outputs":1,"noerr":0,"x":540,"y":460,"wires":[["196b905f.850048","da7c03b.5b4a4"]]},{"id":"2023d861.3f4bf8","type":"comment","z":"4c2d7f2a.5d485","name":"set search term","info":"","x":80,"y":420,"wires":[]},{"id":"467648db.262d88","type":"ui_text_input","z":"4c2d7f2a.5d485","name":"for","label":"Search Term","group":"be3d091.5eb43f8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"for","x":110,"y":460,"wires":[["fe6fe146.7ae0f","3df31ee9.6f2192","14b13fb5.e6718","c947df34.b4e0a"]]},{"id":"75cff3f8.118d5c","type":"mongodb3 in","z":"4c2d7f2a.5d485","service":"_ext_","configNode":"d82635c1.fa7c68","name":"","collection":"","operation":"","x":867.5,"y":321,"wires":[[]]},{"id":"da7c03b.5b4a4","type":"function","z":"4c2d7f2a.5d485","name":"prep insert","func":"var new_msg = {\n 'collection' : 'tweets',\n 'operation' : 'insert',\n 'payload' : msg.payload\n};\nnew_msg.payload.search_term = flow.get('search');\n\nreturn new_msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["75cff3f8.118d5c","18c74b29.cc251d"]]},{"id":"196b905f.850048","type":"function","z":"4c2d7f2a.5d485","name":"set layer","func":"msg.payload.layer=\"tweets\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":460,"wires":[["9b86f9e7.6e7018","6eac8794.45e4e"]]},{"id":"18c74b29.cc251d","type":"debug","z":"4c2d7f2a.5d485","name":"INSERTING:","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":380,"wires":[]},{"id":"5d950073.699498","type":"catch","z":"4c2d7f2a.5d485","name":"ERROR:","scope":["75cff3f8.118d5c"],"x":740,"y":620,"wires":[["910ab8be.029bb"]]},{"id":"910ab8be.029bb","type":"debug","z":"4c2d7f2a.5d485","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":889,"y":633,"wires":[]},{"id":"6eac8794.45e4e","type":"debug","z":"4c2d7f2a.5d485","name":"MAPPING:","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":420,"wires":[]},{"id":"3df31ee9.6f2192","type":"function","z":"4c2d7f2a.5d485","name":"store search term","func":"// stashes the search term in the 'flow' object\n// which is shared amongst all the flows\nflow.set('search',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":640,"wires":[[]]},{"id":"14b13fb5.e6718","type":"function","z":"4c2d7f2a.5d485","name":"query existing data","func":"// when a new search term arrives, it queries\n// the database for existing tweets that match\n// this term to re-populate the map\nvar new_msg = {};\nnew_msg.collection = 'tweets';\nnew_msg.operation = 'find.forEach';\nnew_msg.payload = { 'search_term' : msg.payload };\nreturn new_msg;","outputs":1,"noerr":0,"x":310,"y":580,"wires":[["d91b755.bf2f008"]]},{"id":"c947df34.b4e0a","type":"function","z":"4c2d7f2a.5d485","name":"clear the map","func":"// ignores the inbound message and instead \n// generates a payload for the map that contains\n// the \"clear map\" command\nmsg.payload={\n \"command\": {\n \"clear\":\"tweets\"\n }\n};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":520,"wires":[["9b86f9e7.6e7018"]]},{"id":"9b86f9e7.6e7018","type":"worldmap","z":"4c2d7f2a.5d485","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":910,"y":520,"wires":[]},{"id":"6564f7a4.916f1","type":"mongodb3 in","z":"4c2d7f2a.5d485","service":"_ext_","name":"","collection":"","operation":"","x":840,"y":720,"wires":[[]]},{"id":"d82635c1.fa7c68","type":"mongodb3","z":"","uri":"mongodb://user:pass@host:port/mongodb","name":"Heroku mLab","options":"","parallelism":"-1"},{"id":"be3d091.5eb43f8","type":"ui_group","z":"4c2d7f2a.5d485","name":"date_range","tab":"f011a794.8b5508","disp":true,"width":"6","collapse":false},{"id":"f011a794.8b5508","type":"ui_tab","z":"4c2d7f2a.5d485","name":"Tweet Filter","icon":"dashboard"}]